<div id="<%= dom_id schedule_item %>">
  <p>
    <strong>Title:</strong>
    <%= schedule_item.title %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= schedule_item.start_time %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= schedule_item.notes %>
  </p>

</div>
